<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Self Drive Car Rental System  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/about_style.css">
  </head>
  <body>
    <% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
       <% include site-navigation.ejs %>

      <div class="article">
         <div class="content">
        <h3> <strong> About Movecar! </strong> </h3>
          <p> Movecar Self Drive car rental system is established in the year 2018 with a motivation to ease the car rental services.</p>

          <br>
          <div class="location">
              <p> Locations we are avaialable in:</p>
            <ul>
              <li> Charlotte</li>
              <li> Los Angels</li>
              <li> New York</li>
              <li> Dallas</li>

            </ul>
          </div>

            <div class="social">
		            <p> Follow us on: facebook, twitter, instagram</p>
            </div>



        </div>
      </div>
    </div>

      <% include footer.ejs %>
  </body>
</html>
