<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Self Drive Car Rental System  </title>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index_style.css">
  </head>
  <body>
	<% include header.ejs %>

    <div class="nav-1">
      <% include user-navigation.ejs %>
    </div>

    <div class="page-content">
      <% include site-navigation.ejs %>

      <div class="article">
    	   <div class="content">
           <p><strong>Welcome to Movecar. . . </strong></p>

            <p> Movecar is a Car Rental system at which you can book a car which allows you to ride on your own.
    		It also provides Pick-up and Drop-off at your location before and after rides.</p>

    		<p> You can choose the car depending on your needs and interests. You can see them in the cars page.
    		You can also test-drive the car at your door-step before you use it.</p>
    		<p> However you need to upload certain documents such as valid driving license and the insurance documents</p>


        <br><br><br><br><br><br><br>

    		<p> Please make sure that you read all conditions before you ride </p>

          </div>
	       </div>
    </div>

      <% include footer.ejs %>

  </body>
</html>
