* {box-sizing: border-box;}

nav {
  float: left;
  width: 15%;
  height: 100%;
  background: #B0C4DE;
  border: 1px solid black;
}

nav ul {
  list-style-type: none;
  padding:0;
}

nav li {
  padding-bottom: 5%;
  padding-left: 2%;
  font-size: 1vw;
}

.article ul {
  list-style-type: none;
}

.article li{
  padding-bottom: 1%;
  font-size: 1vw;
}

ul a {
  text-decoration: none;
  font-size: 150%;
}
.breadcrumb li{
    display: inline;
	  background-color: silver;
 }

 .breadcrumb {
   padding:0;
     background-color: silver;
 }

.logged-user {
  float:right;
  overflow: auto;
  padding-top: 0%;
  top: 0;
  padding-right: 1%;
}

.page-content:after {
  content: "";
  display: table;
  clear: both;
}

.article {
  background-color: silver;
  padding-left: 1%;
  overflow:auto;
  font-size: 1vw;
  font-size: 1.5vw;
  line-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
  width:100%;
  height: 10%;
  background-color: #B0C4DE;
  justify-content: center;
  padding-left: 40%;
  margin-bottom: 0.5%;
  font-size: 2vh;
  color: black;
  border: 1px solid black;
}

.footer {
  height: 5%;
  background-color: grey;
  text-align: center;
  color: black;
  overflow: hidden;
  font-size: 2vh;
  position: fixed;
  width: 100%;
  position: fixed;
  bottom: 0;
  border: 1px solid black;
}

.page-content {
  height: 75%;
  width: 100%;
  position: absolute;
    background-color: silver;
}

.header img {
  height:10%;
  width:14%;
  float:left;
}

.clearfix {
  overflow: auto;
}

.nav-1 {
  height:7%;
  width:100%;
  margin-bottom: 0.5%;
  text-align: center;
}

.nav-horizontal {
  width: 100%;
  height:100%;
  background: #B0E0E6;
}

.nav-horizontal ul{
  list-style-type: none;
  padding: 0;
}

.nav-horizontal ul a{
  text-decoration: none;
  color: black;
}

.nav-horizontal ul li{
  display: inline;
}

.image_ht{
  float: left;
  height:25%;
  width:20%;
}

.ratings-image {
  width:1.5%;
 }

.image-container {
   overflow:auto;
 }

 .image-container: after {
    clear: both;
    content: "";
    display: table;
  }

 .ratings-bar li {
   display: inline;
 }

 .item-description {
   padding:inherit;
 }

.list-item{
  list-style-type: circle;
 }

 .button {
  background-color:  #2aff7d;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
 }

 .button-image {
  float:left;
  margin-right:0.5em;
  height:15px;
  width:15px;
 }


 .image-side-description {
  padding-left: 1.5%;
  overflow:auto;
}
